<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../images/clipboard (1).png" type="image/png">
    <title>todoList</title>
</head>
<body>
    <header>
        <h1>toDoList</h1>
        <img src="/images/clipboard (1).png">
    </header>

    <div id="container">

        <div id="cards">

            <div class="card">

                <div> 
                    <h3 class="title">AppFilmes</h3>
                    <div class="edit">
                        <a href="#">
                            <img src="/images/writing.png">
                        </a>
                        <a href="">
                            <img src="/images/excluir.png">
                        </a>
                    </div>
                    
                </div>

                <div class="description">
                    <h4>AppFilmes etito’s mother also told investigators that previous text exchanges with 
                        After that final text, her phone was shut off and she didn’t post anything on social media, according to the warrant.
                         Tshe didn’t post anything on social media, a After that final text, her phone was shut off and she didn’t post anything on social media, according to the warrant.
                         Tshe didn’t post anything on social media, according to the warrant.
                          This was not normal vior for the 22-yeaccording to the warrant.
                          This was not normal vior for the 22-year-old and the family became more concerned.</h4>
                </div>

                <div class="status">
                    <h3>Status:</h3>
                    <div class="img-status">
                        <img  class="visible" src="/images/cancelado (1).png">
                        <img class="visible"  src="/images/trofeu.png">
                        <img class="visible" src="/images/sinal-de-aviso.png">
                    </div>
                </div>

            </div>

            <div class="card">

                <div> 
                    <h3 class="title">AppFilmes</h3>
                    <div class="edit">
                        <a href="#">
                            <img src="/images/writing.png">
                        </a>
                        <a href="">
                            <img src="/images/excluir.png">
                        </a>
                    </div>
                    
                </div>

                <div class="description">
                    <h4>AppFilmes etito’s mother also told investigators that previous text exchanges with 
                        After that final text, her phone was shut off and she didn’t post anything on social media, according to the warrant.
                         Tshe didn’t post anything on social media, according to the warrant.
                          This was not normal vior for the 22-year-old and the family became more concerned.</h4>
                </div>

                <div class="status">
                    <h3>Status:</h3>
                    <div class="img-status">
                        <img  class="visible" src="/images/cancelado (1).png">
                        <img class="visible"  src="/images/trofeu.png">
                        <img class="visible" src="/images/sinal-de-aviso.png">
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>