<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/addtask.css">
    <link rel="shortcut icon" href="/images/clipboard (1).png" type="image/png">
    <title>todoList</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/left-arrow.png">
        </a>
        <h1>toDoList</h1>
        <img src="/images/clipboard (1).png">
    </header>

    <form>
        <div id="card">
            <h2>Preencha os campos</h2>
            <input id="title" type="text" placeholder="Título"  required>

            <input id="description" type="text" placeholder="Descrição"  required>

            <div class="dropdown">
            <div class="dropdown-select">
                <span class="select" id="status">Status</span>
                <img src="/images/baixo.png">
            </div>
            <div class="dropdown-list">
                <div class="dropdown-list__item" id="concluido" onclick="selectItemConcluido()">Concluído</div>
                <div class="dropdown-list__item" id="andamento" onclick="selectItemEmAndamento()">Em andamento</div>
                <div class="dropdown-list__item" id="cancelado" onclick="selectItemCancelado()">Cancelado</div>
            </div>
        </div>

            
        

            <button id="addCard">Adicionar tarefa</button>
        </div>

    </form>
   <script src="/scripts/selectStatus.js"></script>
</body>
</html>