<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/addtask.css">
    <link rel="shortcut icon" href="/images/clipboard (1).png" type="image/png">
    <title>todoList</title>
</head>
<body>
    <header>
        <h1>toDoList</h1>
        <img src="/images/clipboard (1).png">
    </header>

    <form>
        <div id="card">
            <h2>Preencha os campos</h2>
            <input id="title" type="text" placeholder="Título">
            <input id="description" type="text" placeholder="Título">
            <input id="state" type="text" placeholder="Título">
        </div>
    </form>
   
</body>
</html>